
h1{
	text-align: center;
	font-family: arial;
}
div div{
	 	border: 1px solid black;
	 	background-color: #818181 ;
}
.col-lg{
		margin: 1%;
}
.col-md{
		margin: 1%;
}
.col-md-st{
		margin: 1%;
}
#headboxone{
	text-align: center;
	margin-left: 80%;
	background-color: #C44D4D ;
	font-size: 24px;
}
#headboxtwo{
text-align: center;
	margin-left: 70%;
	background-color: #FBF585 ;
	font-size: 24px;
}
#headboxthree{
	text-align: center;
	margin-left: 80%;
	background-color: #F2B68E ;
	font-size: 24px;
}

@media (min-width: 992px){
 .col-lg{
 	width :30%;
 	float :left;
 }
}
@media (min-width: 768px) and (max-width: 991px){
 .col-md {
 	width: 47%;
	float: left;
 }
 .col-md-st{
	width:100%;
	float: left;
        
 }
}
